.header {
  display: flex;
  padding: 0px;
  margin: 0px;
  text-align: left;
  color: rgb(193, 24, 24);
  font-size: 30px;
  border-bottom: 6px solid rgb(193, 24, 24);
  align-items: center;
  justify-content: space-between;
  line-height: 1;
}

.homeButton {
  margin-left: auto;
  font-size: 30px;
}

.homeButton a {
  color: black;
}

.homeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
  gap: 20px;
  flex-wrap: wrap;
}

.box {
  width: 400px;
  padding: 20px;
  border: 3px solid rgb(179, 35, 35);
  text-align: center;
  background-color: #fffffff1;
}

.container h2 {
  margin: 0;
  padding-bottom: 5px;
}

.box p {
  font-size: 15px;
  color: rgb(15, 4, 4);
  margin-top: 5px;
  font-weight: bold;
}

.box a {
  color: black;
}

.articlesContainer {
  padding: 20px;
}

.articlesList {
  list-style: none;
  padding: 0;
}

.article {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.articleLink {
  text-decoration: underline;
  color: black;
  font-weight: bold;
}

.articleImg {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
}

.boldText {
  font-weight: bold;
}

.commentsContainer {
  margin-top: 20px;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.commentCard {
  background-color: #f9f9f9;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.commentCard p {
  margin: 5px 0;
}

.commentAuthor {
  font-weight: bold;
}

.voteContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.voteButton {
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.upvote {
  background-color: #4caf50;
  color: white;
}

.downvote {
  background-color: #f44336;
  color: white;
}
